/*! =============
 ShadowBird - patch_windows.css
 Contributed by loopy750
 https://github.com/loopy750
================= */
tabbox > tabs {
  color: var(--in-content-text-color)!important
}
#category-box {
  background: var(--sidebar-background)!important;
  color: var(--in-content-text-color)!important
}
.radio-check {
  background: 0 0!important
}
#category-box .radio-check {
  border: none!important
}
radio[pane]:not([selected]) {
  color: var(--in-content-text-color)!important
}
radio[pane][selected] {
  color: var(--in-content-link-color)!important
}
menulist[open=true] {
  background: var(--in-content-table-header-background)!important
}
.dropmarker-icon {
  filter: invert(80%)!important
}
.dialogBox {
  background: var(--in-content-box-background)!important;
  color: var(--in-content-text-color)!important
}
.dialogBox .dialogTitleBar {
  background: var(--in-content-box-border-color)!important;
  color: var(--in-content-text-color)!important
}
@-moz-document url-prefix("chrome://messenger/content"),
url-prefix("chrome://passwordmgr/content"),
url-prefix("chrome://global/content"),
url-prefix("chrome://mozapps/content"),
url-prefix("chrome://pippki/content"),
url-prefix("chrome://calendar/content") {
  #ColorsDialog,
  #ConnectionsDialog,
  #CookiesDialog,
  #NotificationsDialog,
  #OfflineSettingsDialog,
  #PermissionsDialog,
  #ReturnReceiptsDialog,
  #SendOptionsDialog,
  #SignonViewerDialog,
  #accountManager,
  #attachmentReminderOptionsDialog,
  #certmanager,
  #config,
  #editCategory,
  #history,
  .content-box,
  .dialogFrame,
  .windowDialog,
  dialog {
    background: var(--in-content-box-background)!important;
    color: var(--in-content-text-color)!important
  }
  #historyItems {
    filter: invert(90%)!important
  }
  treecol:hover {
    background: var(--in-content-border-focus)!important
  }
}
@-moz-document url-prefix("about:preferences") {
  treecol:hover {
    background: var(--in-content-border-focus)!important
  }
}
.tree-bodybox {
  margin: 4px 8px 0!important
}
@-moz-document url-prefix(about:support) {
  td {
    color: var(--in-content-text-color)!important;
    background-color: var(--thread-background)!important;
    border: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important
  }
  #action-box {
    background-color: var(--in-content-box-background)!important;
    color: var(--primary-light-color)!important
  }
}
@-moz-document url-prefix(about:blank) {
  html {
    background: 0 0!important
  }
}
@-moz-document url-prefix("https://start.thunderbird.net") {
  body {
    background: #1f2022!important;
    color: #fff
  }
}
@-moz-document url-prefix("about:") {
  button:not([disabled]) {
    background: #6d717d!important;
    color: #e8e8ea!important;
    text-shadow: none!important;
    box-shadow: none!important;
    border-radius: 3px!important;
    border: none!important
  }
  button:focus:not([disabled]) {
    background: #6d919d!important;
    color: #e8e8ea!important;
    text-shadow: none!important;
    box-shadow: none!important;
    border-radius: 3px!important;
    border: none!important
  }
  button:hover:not([disabled]) {
    background: #8d919d!important;
    color: #f8f8fa!important;
    text-shadow: none!important;
    box-shadow: none!important;
    border-radius: 3px!important;
    border: none!important
  }
  button:active:not([disabled]) {
    background: #5d61fe!important;
    color: #e8e8ea!important;
    text-shadow: none!important;
    box-shadow: none!important;
    border-radius: 3px!important;
    border: none!important
  }
}
@-moz-document url-prefix(about:memory) {
  .legend,
  .opsRowLabel,
  .section,
  .treeline,
  button:active:not([disabled]),
  button:focus:not([disabled]),
  button:hover:not([disabled]),
  button:not([disabled]) {
    color: var(--in-content-page-background)!important
  }
}